
#################################################################
##                                                             ##
##         __    ___    _   _____________ __ __ ________       ##
##        / /   /   |  / | / / ____/ ___// //_//  _/ __ \      ##
##       / /   / /| | /  |/ / / __ \__ \/ ,<   / // /_/ /      ##
##      / /___/ ___ |/ /|  / /_/ /___/ / /| |_/ // ____/       ##
##     /_____/_/  |_/_/ |_/\____//____/_/ |_/___/_/            ##
##                                                             ##
##                                                             ##
#################################################################
##                                                             ##
##         All connections are monitored and recorded          ##
##  Disconnect IMMEDIATELY if you are not an authorized user!  ##
##                                                             ##
#################################################################
